.form-container{
    border-radius: 50px;
    background-color: white;
    margin: 50px 0 0 ;
    height: 1150px;
    width: 800px;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
}


.feed-topic,.feed-descript{
    text-align: center;
    
}
.feed-topic{
    font-size: 25px;

}
.feed-descript{
    color: #777777;
    font-weight: 400;
}
.form-container hr{
    width: 80%;
   
}
.name{
    margin: 50px 20px 20px 90px;
}
.mail{
    margin-top: 20px;
}
.feedback{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777777;
}
.name input{
    margin-left: 10px;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
.req{
    color: red;
}


textarea{
    resize: none;
    border-radius: 5px;
    width: 90%;
}



.form-buttons{
    margin-top: 20px;
    
}
#formpreview{
    margin-right: 40px;
    background-color:#ffffff;
    color:#20bb3a;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #2DC653;
    
}
#formpreview:hover{
   
    background-color:#2DC653;
    color:rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius:5px;

    border: 2px solid #2DC653;
}
#formsubmit{
   
    background-color:#2dc653;
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
    
    border: 2px solid #2DC653;
} 
#formsubmit:hover{
   
    background-color:#25a244;
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
  
    border: 2px solid #25a244;
} 
.rating-scale {
    display: flex;
    justify-content: center;
    margin: 20px 10px 20px 0 ;
    gap: 15px;
    
  }
  .rating-scale input[type="radio"]{
    display: none;
  }

  .rating-scale input[type="radio"]:checked + label {
    background-color: #2DC653;
     color: white;
     border-color: #2DC653;
  }
  
  
  .rating-scale label {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    align-content: center;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
  }

  
  .rating-scale label:hover {
    background-color: #e0e0e0;
  }
  .scale-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    color: #666;
  }
  


.visitor-labels-txt {
    display: flex;
    margin-left: 47%;
    
}
.ys1{
    margin-left: 19%;
}
.group-option{
    display: flex;
    justify-content: center;
    margin: 20px 10px 20px 0 ;
    gap: 15px;
}
.group-option input[type="radio"]{
    display: none;
  }
  .group-option input[type="radio"]:checked + label {
    background-color: #2DC653;
     color: white;
     border-color: #2DC653;
  }
  .group-option label {
    display: inline-block;
    color:#777777;
    width: 60px;
    height: 40px;
    align-content: center;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 20%;
    cursor: pointer;
  }
  .group-option label:hover {
    background-color: #e0e0e0;
  }
.txtara{
    margin-top: 20px;
}
.stis-grp{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 130px;
    font-size: 12px;
    color: #777777;
}
label{
    font-weight: 400;
}
.preview-container{
    border-radius: 50px;
    background-color: white;
    margin: 20px 0 0 ;
    width: 800px;
    justify-content: center;
    margin-bottom: 100px;


}
.pre-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.preview-container hr{
    width:80%;
}
.preview-container h1{
    text-align: center;
    font-size: 30px;
    color: #777777;
}
.preview-container p{
  
font-weight: 400;
}

.gap-bet{
    margin-left:60px  ;
}
.preview-content,.centering{
    display: flex;
    gap:15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #777777;
}
.txtarea-grp{
    display: flexbox;
    justify-content: center;
    text-align: center;
    align-items: center;
    

}
.rating-input i{
    font-size: 50px;
    color:black;
    align-items: center;
}
.emoji {
    transition: transform 0.2s ease-in-out;
    border: black;
    background: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px;
    width: 80px;
    height: 80px;
}

.emoji:hover {
    transform: scale(1.3);
}

